*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas{
    background-color: green;
}

.ball{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
}
